body {
    background-color: powderblue;
}
#header {
    background-color: pink;
    padding: 2rem;
    text-align: center;
}
#input-area, #output-area {
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #ffffff80;
}
#input-area {
    min-height: 200px;
}
#output-area .map-row {
    display: flex;
    margin-bottom: 1rem;
}
#output-area .thumbnail {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-right: 1rem;
    flex-shrink: 0;
}
#output-area .metadata {
    flex-grow: 1;
}


#submit {
    padding: 2rem;
    text-align: center;
}


.param-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* allow items to wrap to new line if needed */
    margin-bottom: -16px;
    padding: 4px 0; /* reduce vertical padding */
    border-bottom: 1px solid #ddd;
}

.param-name {
    width: 180px;
    font-weight: bold;
}

.value-box {
    width: 100px !important;
    margin-right: 20px;
    -moz-appearance: textfield; /* Hide spinners for firefox */
}

/* Hide spinners for chromelike */
.value-box::-webkit-inner-spin-button,
.value-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.weight-slider {
    width: 200px;
    margin-right: 10px;
}

.weight-number {
    width: 80px !important;
}
